/*Обнулення*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@property --k {
  syntax: "<number>";
  initial-value: 0;
  inherits: false;
}
body {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

h1 {
  --k: 0;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(hsl(calc(var(--k) * 1turn), 95%, 65%)),
    to(hsl(calc(var(--k) * 1turn + 90deg), 95%, 65%))
  );
  background: linear-gradient(
    90deg,
    hsl(calc(var(--k) * 1turn), 95%, 65%),
    hsl(calc(var(--k) * 1turn + 90deg), 95%, 65%)
  );
  -webkit-background-clip: text;
  color: transparent;
  font: 900 clamp(0.875em, 7.25vh, 5em) arial black, sans-serif;
  text-align: center;
  text-transform: uppercase;
  -webkit-animation: k 8s linear infinite;
  animation: k 8s linear infinite;
}

@-webkit-keyframes k {
  to {
    --k: 1;
  }
}

@keyframes k {
  to {
    --k: 1;
  }
}
